.card{
    background-color: var(--color-white);
    margin-left: 31px;
    width: 159px;
    height: 205px;
}

.title{
    width: 95px;
    height: 25px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 10px;
    padding: 4px 8px;
    gap: 1px;
    font-size: 11px;
    margin: 6px;
    margin-top: 0;
}